---
---
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml" class="wf-loading">
<head>
{% include head.html %}
<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
<title>{{site.name}}</title>
</head>

<body>

{% include header.html %}
<div id="content-wrapper">
	<section class="s1 flex-business">
		<canvas class="game"></canvas>
	</section>

	<section class="contact-section">
		Discord: martyboggsjr#9028<br>
		Twitter: @aklosismedia<br>
		Steam: aklosismedia
	</section>

	<section class="s2">
		<div class="fade-white-top min-height flex-business padding">
			<h2>controls: w a s d j k</h2>
			<h4 class="game2-score" data-score="0"></h4>
			<canvas class="game2"></canvas>
		</div>
	</section>

	<section class="s3">
		<div class="min-height flex-business flex-container padding">
			<h2 style="color: white" class="margin-bottom">games and experiments</h2>
			<div class="boxes">
				{% for project in site.data.projects %}
					<a class="box" target="_blank" href="{{ project.slug }}">
						<img src="/images/{{ project.image }}">
						<div class="text">
							<h3>{{ project.name }}</h3>
							<p>{{ project.description }}</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="s4">
		<div class="min-height flex-business padding">
			<img src="/images/rocket.png">
		</div>
	</section>

	<!-- <section class="s5">
		<div class="min-height flex-business flex-container padding">
			<h2 class="margin-bottom">dooby dop baaaaahh</h2>
			<div class="boxes">
				{% for post in site.posts %}
					<a class="box" href="{{ post.url }}">
						<div class="bg" style="background: url('/images/{{ post.image }}') center center / cover;"></div>
						<div class="text">
							<h3>{{ post.title }}</h3>
							<h5>{{ post.category }}</h5>
							<p>{{ post.excerpt | strip_html }}</p>
						</div>
						<button class="btn">Read it</button>
					</a>
				{% endfor %}
				{% for post in site.posts %}
					<a class="box" href="{{ post.url }}">
						<div class="bg" style="background: url('/images/{{ post.image }}') center center / cover;"></div>
						<div class="text">
							<h3>{{ post.title }}</h3>
							<h5>{{ post.category }}</h5>
							<p>{{ post.excerpt | strip_html }}</p>
						</div>
						<button class="btn">Read it</button>
					</a>
				{% endfor %}
			</div>
		</div>
	</section> -->

</div>
{% include footer.html %}

<script src="js/init.js"></script>
</body>

</html>
