<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml" class="wf-loading">
<head>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta charset='utf-8'>
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="images/icons/launcher-icon-4x.png">
<link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/slick.css">
<link rel="stylesheet" type="text/css" href="stylesheets/slick-theme.css">

<link rel="canonical" href="https://martyboggs.com" />
<meta itemprop="name" content="Martin's cool games">
<meta property="og:title" content="Martin's cool games">
<meta property="og:url" content="https://martyboggs.com">
<meta property="og:site_name" content="Martin's cool games">
<script>
var projects = [
	{"name": "Attack of the Monster Bugs", "slug": "attack-of-the-monster-bugs", "image": "attack.png",
	"description": "Kill monster bugs."},

	{"name": "Reindeer Game", "slug": "zdog", "image": "zdog.png",
	"description": "Use magic to move reindeer."},

	{"name": "Itch.io", "slug": "https://martyboggs.itch.io/", "image": "claudio.png", "description": "More games.. like Summer Runner"},

	{"name": "Extended Reality Game", "slug": "https://extendedreality-1382.firebaseapp.com/", "image": "extended-reality.png",
	"description": "MMO - Navigate over a real map of your area."},
	
	{"name": "Recursia", "slug": "recursia", "image": "recursia.jpg",
	"description": "Protect the Nibblets from almost certain doom as you deal with challenges facing all homeowners."},
	
	{"name": "Mr. Feathers", "slug": "mr-feathers", "image": "mr-feathers.png",
	"description": "Collect spent fuel rods"},
	
	{"name": "Climber", "slug": "http://www.threejsworld.com/threejs-game-tutorial-climber", "image": "climber.png", "description": "Climb up to collect coins."},

	{"name": "Claudio", "slug": "https://www.youtube.com/watch?v=kiHke88l_nc", "image": "claudio.png",
	"description": "Adventure game where you're a dog."},

	{"name": "MeanChatBot", "slug": "meanChatBot", "image": "meanChatBot.jpg",
	"description": "Need somebody to talk to? Avoid the Mean Chat Bot!"},
	
	{"name": "GameJolt", "slug": "https://gamejolt.com/@whack47/games", "image": "climber.png", "description": "More games.. like Deliver the Cheese"}
];
var websites = [
    {"name": "Three.js World", "slug": "https://www.threejsworld.com/", "image": "zdog.png",
    "description": "Site with tutorials"},

    {"name": "How to Go Carbon Neutral", "slug": "https://www.howtogocarbonneutral.com/", "image": "climber.png",
    "description": "Blog that follows Climate Change"},
];
setTimeout(function () {
	for (var i = 0; i < projects.length; i += 1) {
		document.querySelector('.projects .boxes').innerHTML += `
		<a class="box" target="_blank" href="${projects[i].slug}">
			<img src="images/${projects[i].image}">
			<div class="text">
				<h3>${projects[i].name}</h3>
				<p>${projects[i].description}</p>
			</div>
		</a>
		`;
	}
	// for (var i = 0; i < websites.length; i += 1) {
	// 	document.querySelector('.websites .boxes').innerHTML += `
	// 	<a class="box" target="_blank" href="${websites[i].slug}">
	// 		<img src="images/${websites[i].image}">
	// 		<div class="text">
	// 			<h3>${websites[i].name}</h3>
	// 			<p>${websites[i].description}</p>
	// 		</div>
	// 	</a>
	// 	`;
	// }
}, 10);
</script>
<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
<title>Martin's Cool Games</title>
<style>
	button[aria-label="Share link"] {
		display: none;
	}
	#links-container {
		text-align: center;
		font-weight: bold;
	}
</style>
</head>

<body>

<header>
	<div class="bg"><div class="fade-white-bottom"></div></div>
	<div class="inner flex-container">
		<a href="/"><h1>Martin's cool games</h1></a>
		<a href="mailto:whack47@gmail.com" class="button">Contact me</a>
	</div>
</header>
<div id="content-wrapper">
	<section class="s1 flex-business links">
		<div>Get custom large-scale wall art
		<div><a href="https://martyboggs.com/art" target="_blank">https://martyboggs.com/art</a></div></div>
		<div>Vanilla Cupcakes
		<div><a href="https://martyboggs.com/cupcakes" target="_blank">https://martyboggs.com/cupcakes</a></div></div>
		<div>Podcast about business and technology
		<div><a href="https://www.youtube.com/@PixelPropertyCupcakeCreations" target="_blank">https://www.youtube.com/@PixelPropertyCupcakeCreations</a></div></div>
		<div>Customized t-shirts, hats and more
		<div><a href="https://littlecustomdesign.com" target="_blank">https://littlecustomdesign.com</a></div></div>
		<div>Midjourney prompts
		<div><a href="https://cybervisiongallery.etsy.com" target="_blank">https://cybervisiongallery.etsy.com</a></div></div>
		<div>Art prints on home decor
		<div><a href="https://society6.com/iceberg-tiny-home" target="_blank">https://society6.com/iceberg-tiny-home</a></div></div>
		<div>Real estate investing site
		<div><a href="https://www.focushomebuyers.com" target="_blank">https://www.focushomebuyers.com</a></div></div>
		<div>Connect and apply to our open positions
		<div><a href="https://www.instagram.com/martybusinesss" target="_blank">https://www.instagram.com/martybusinesss</a></div></div>
		<div>Microbrewery
		<div><a href="https://martyboggs.com/beer" target="_blank">https://martyboggs.com/beer</a></div></div>
		<div>Workout app
		<div><a href="https://martyboggs.com/exercise" target="_blank">https://martyboggs.com/exercise</a></div></div>
		<div>Shopify apps company
		<div><a href="https://www.relentlessapps.com" target="_blank">https://www.relentlessapps.com</a></div></div>
	</section>

	<section class="contact-section">
		Discord: martyboggsjr#9028<br>
		Twitter: @aklosismedia<br>
		Steam: aklosismedia<br>
		Email: whack47@gmail.com
	</section>

	<section class="s2">
		<div class="fade-white-top min-height flex-business padding">
			<h2>controls: w a s d j k</h2>
			<h4 class="game2-score" data-score="0"></h4>
			<canvas class="game2"></canvas>
		</div>
	</section>

	<section class="s3">
		<div class="min-height flex-business flex-container padding projects">
			<h2 style="color: white" class="margin-bottom">games and experiments</h2>
			<div class="boxes">
			</div>
		</div>
	</section>

	<section class="s4">
		<div class="min-height flex-business padding">
			<img src="images/syd_mead_concept_art_neofuturistic_012.jpg">
		</div>
	</section>

	<!-- <section class="s5">
		<div class="min-height flex-business flex-container padding websites">
			<h2 style="color: white" class="margin-bottom">websites</h2>
			<div class="boxes">
			</div>
		</div>
	</section> -->

	<!-- <section class="s6">
		<div class="min-height flex-business flex-container padding">
			<h2 class="margin-bottom">dooby dop baaaaahh</h2>
			<div class="boxes">
				{% for post in site.posts %}
					<a class="box" href="{{ post.url }}">
						<div class="bg" style="background: url('/images/{{ post.image }}') center center / cover;"></div>
						<div class="text">
							<h3>{{ post.title }}</h3>
							<h5>{{ post.category }}</h5>
							<p>{{ post.excerpt | strip_html }}</p>
						</div>
						<button class="btn">Read it</button>
					</a>
				{% endfor %}
				{% for post in site.posts %}
					<a class="box" href="{{ post.url }}">
						<div class="bg" style="background: url('/images/{{ post.image }}') center center / cover;"></div>
						<div class="text">
							<h3>{{ post.title }}</h3>
							<h5>{{ post.category }}</h5>
							<p>{{ post.excerpt | strip_html }}</p>
						</div>
						<button class="btn">Read it</button>
					</a>
				{% endfor %}
			</div>
		</div>
	</section> -->

</div>
<footer></footer>
<script src="js/init.js"></script>
</body>

</html>
